<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.pharmacyservice.sql.ICategoryDAO">
    <resultMap type="Category" id="CategoryResultMap" autoMapping="false">
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>
    <insert id="createEntity" keyProperty="category_id">
        INSERT INTO category (category_id, category_name)
        VALUES (#{categoryId}, #{categoryName});
    </insert>
    <update id="updateEntity" parameterType = "Category">
        UPDATE category SET
        category_name = #{categoryName}
        WHERE category_id = #{categoryId};
    </update>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from category WHERE category_id = #{id};
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "CategoryResultMap">
        SELECT * FROM category WHERE category_id = #{id};
    </select>
    <select id = "getAll" resultMap = "CategoryResultMap">
        SELECT * FROM category;
    </select>
    <select id = "getCategoryByName" parameterType = "String" resultMap = "CategoryResultMap">
        SELECT * FROM category WHERE category_name = #{categoryName};
    </select>
</mapper>