<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.pharmacyservice.sql.ICustomerDAO">
    <resultMap type="Customer" id="CustomerResultMap" autoMapping="false">
        <result property="customerId" column="customer_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="age" column="age"/>
        <result property="address" column="address"/>
    </resultMap>
    <insert id="createEntity" keyProperty="customer_id">
        INSERT INTO customer (customer_id, first_name, last_name, phone_number, age, address)
        VALUES (#{customerId}, #{firstName}, #{lastName}, #{phoneNumber}, #{age}, #{address});
    </insert>
    <update id="updateEntity" parameterType = "Customer">
        UPDATE customer SET
        first_name = #{firstName},
        last_name = #{lastName},
        phone_number = #{phoneNumber},
        age = #{age},
        address = #{address}
        WHERE customer_id = #{customerId};
    </update>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from customer WHERE customer_id = #{id};
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "CustomerResultMap">
        SELECT * FROM customer WHERE customer_id = #{id};
    </select>
    <select id = "getAll" resultMap = "CustomerResultMap">
        SELECT * FROM customer;
    </select>
    <select id = "getCustomerByLastName" parameterType = "String" resultMap = "CustomerResultMap">
        SELECT * FROM customer WHERE last_name = #{lastName};
    </select>
</mapper>