<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.pharmacyservice.sql.IEmployeeTypeDAO">
    <resultMap type="EmployeeType" id="EmployeeTypeResultMap" autoMapping="false">
        <result property="employeeTypeId" column="employee_type_id"/>
        <result property="employeeTypeName" column="employee_type_name"/>
    </resultMap>
    <insert id="createEntity" keyProperty="employee_type_id">
        INSERT INTO employee_type (employee_type_id, employee_type_name)
        VALUES (#{employeeTypeId}, #{employeeTypeName});
    </insert>
    <update id="updateEntity" parameterType = "EmployeeType">
        UPDATE employee_type SET
        employee_type_name = #{employeeTypeName}
        WHERE employee_type_id = #{employeeTypeId};
    </update>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from employee_type WHERE employee_type_id = #{id};
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "EmployeeTypeResultMap">
        SELECT * FROM employee_type WHERE employee_type_id = #{id};
    </select>
    <select id = "getAll" resultMap = "EmployeeTypeResultMap">
        SELECT * FROM employee_type;
    </select>
    <select id = "getEmployeeTypeByName" parameterType = "String" resultMap = "EmployeeTypeResultMap">
        SELECT * FROM employee_type WHERE employee_type_name = #{employeeTypeName};
    </select>
</mapper>